.section-portfolio {
    width: 100%;
    display: none;
    color: white;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
.portfolio {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 30px;
}
.portfolio-group {
    width: 25%;
    height: 35vh;
}
.portfolio-item {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: all .3s ease-in-out;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    backdrop-filter: blur(5px);
    text-align: center;
    justify-content: center;
    align-content: center;
    h3 {
        opacity: 1;
        transition: all .3s ease-in-out;
        color: #ffffff;
        text-shadow: 2px 2px 5px #B97EFF;
    }
    &:hover {
        backdrop-filter: blur(20px);
        background-size: 120% 120%;
        background-color: rgba(0, 0, 0, 0.05);
        h3 {
            opacity: 0;
        }
    }
} 

.portfolio-info {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20000;
    align-items: center;
    justify-content: center;
}
.portfolio-item__decribe {
    width: 80%;
    height: 85%;
    background-color: #000000d5;
    color: rgb(255, 255, 255);
    z-index: 50;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
        width: 60%;
        height: 50%;
    }
}
.portfolio-text {
    margin-top: 2%;
    width: 60%;
    text-align: center;
}
.quizz {
    background-image: url("../assets/img/quizz.png");
}
.todo {
    background-image: url("../assets/img/todo.png");
}
.neon {
    background-image: url("../assets/img/neon.png");
}
.ac {
    background-image: url("../assets/img/ac.png");
}
.animeec {
    background-image: url("../assets/img/animeec.png");
}
.cinema {
    background-image: url("../assets/img/cinema.png");
}

.quizz2 {
    .portfolio-item__decribe {
        background-image: url("../assets/img/quizz.png");
        background-blend-mode: color;
        background-color: rgba(0, 0, 0, 0.803);
        background-repeat: no-repeat;
        background-size: cover;
        
    }
}
.todo2 {
    .portfolio-item__decribe {
        background-image: url("../assets/img/todo.png");
        background-blend-mode: color;
        background-color: rgba(0, 0, 0, 0.803);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.neon2 {
    .portfolio-item__decribe {
        background-image: url("../assets/img/neon.png");
        background-blend-mode: color;
        background-color: rgba(0, 0, 0, 0.803);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.ac2 {
    .portfolio-item__decribe {
        background-image: url("../assets/img/ac.png");
        background-blend-mode: color;
        background-color: rgba(0, 0, 0, 0.803);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.animeec2 {
    .portfolio-item__decribe {
        background-image: url("../assets/img/animeec.png");
        background-blend-mode: color;
        background-color: rgba(0, 0, 0, 0.803);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.cinema2 {
    .portfolio-item__decribe {
        background-image: url("../assets/img/cinema.png");
        background-blend-mode: color;
        background-color: rgba(0, 0, 0, 0.803);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (max-width: 1025px) {
    .portfolio-group {
        width: 40%;
    }
    .portfolio-info {
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.34);
    }
    .portfolio-item__decribe {
        width: 95%;
        img {
            width: 550px;
            height: 290px;
        }
    }
    
}
@media (max-width: 800px) {
    .portfolio-group {
        width: 80%;
        height: 40vh;
    }
    .portfolio {
        height: auto;
    }
    .section-portfolio {
        height: 100%;
    }
    .portfolio-item__decribe {
        width: 95%;
        img {
            width: 350px;
            height: 200px;
        }
        .portfolio-text {
            width: 80%;
        }
    }
}

@media (max-width: 500px) {
    .portfolio-item__decribe {
        img {
            width: 250px;
            height: 150px;
        }
        .portfolio-text {
            width: 90%;
        }
    }
}