@keyframes title {
    from {
        transform: scale(1);
    } 25% {
        transform: scale(1.007);
    } 50% {
        transform: scale(1);
    } 75% {
        transform: scale(1.007);
    } to {
        transform: scale(1);
    }
}