.display-flex {
    display: flex;
    align-content: center;
    align-items: center;
}

.violet {
    color: #B97EFF;
}

.li {
    &-link:hover {
        text-decoration: underline;
    }
    &-regular {
        padding: 1px 0;
        font-size: 18px;
        font-style: bold;
        transition: all .2s ease-in-out;
    }
}

.title-animation {
    animation: title 6s infinite ease-in-out;
}

.text-actent {
    color: #B97EFF;
    font-style: bold;
}
.link {
    transition: all .2s ease-in-out;
    font-style: italic;
    cursor: pointer;
    &:hover {
        color: #B97EFF;
        text-decoration: underline;
    }
}